<div *ngIf="apod">
    <div *ngIf="apod.media_type=='image'" class="row">
        <div class="col-12">
            <img src={{apod.url}} alt={{apod.title}} />
        </div>
    </div>
    <div *ngIf="apod.media_type=='video'" class="row">
        <div class="col-12">
            <p>It's a video</p>
            <pre>{{apod.url|json}}</pre>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-12">
            <h1>Title :{{apod.title}}</h1>
            <br />
            <p>{{apod.date}}</p>
            <p>{{apod.explanation}}</p>
        </div>
    </div>
</div>